<div class="search-container mt-5 mb-5">
  <form class="row g-3" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="col-auto">
      <input
        type="text"
        formControlName="query"
        class="form-control"
        placeholder="Rechercher des films..."
      />
    </div>
    <div class="col-auto">
      <select formControlName="category" class="form-control">
        <option value="">Toutes catégories</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="col-auto">
      <input
        type="number"
        formControlName="year"
        class="form-control"
        placeholder="Année"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
  </form>

  <div class="row mt-4">
    <ng-container *ngIf="searchResults$ | async as searchResults">
      <div class="col-md-3 mb-3" *ngFor="let result of searchResults">
        <div class="card">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + result.poster_path"
            class="card-img-top"
            alt="Poster Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ result.title }}</h5>
            <!--<p class="card-text">{{ result.overview }}</p>-->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
