<div class="search-container mt-5 mb-5">
  <form class="row g-3" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="col-auto">
      <input
        type="text"
        formControlName="query"
        class="form-control"
        placeholder="Rechercher des films..."
      />
    </div>
    <div class="col-auto">
      <select formControlName="category" class="form-control">
        <option value="">Toutes catégories</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="col-auto">
      <input
        type="number"
        formControlName="year"
        class="form-control"
        placeholder="Année"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
  </form>

  <div class="row mt-4">
    <ng-container *ngIf="searchResults$ | async as searchResults">
      <div class="col-md-3 mb-3" *ngFor="let result of searchResults">
        <div class="card" (click)="navigateToDetails(result.id)">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + result.poster_path"
            class="card-img-top"
            alt="Poster Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ result.title }}</h5>
          </div>

          <div class="card-footer d-flex justify-content-between">
            <button
              type="button"
              (click)="addToFavorites(result, $event)"
              class="btn btn-sm btn-warning"
            >
              Ajouter aux favoris
            </button>
            <span
              *ngIf="result.likesCount !== undefined && result.likesCount > 0"
              class="ml-2"
            >
              {{ result.likesCount }} J'aime
            </span>
            <button
              type="button"
              (click)="toggleLike($event)"
              class="btn"
              [class.btn-primary]="result.isLiked"
              [class.btn-outline-primary]="!result.isLiked"
            >
              {{ result.isLiked ? "Je n'aime plus" : "J'aime" }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
